.main-footer {
  background: $black; color: $white;
  &__upper { display: flex; justify-content: space-between; padding: 8rem 0; @include respond(tab-port) { padding: 6rem 0; } @include respond(phone) { display: block; } }
  &__row-1 { order: 2; @include respond(tab-port) { margin-bottom: 5rem; } }
  &__row-2 { width: 40%; order: 1; max-width: 50rem; @include respond(tab-port) { width: 100%; } }
  &__short-desc { margin-top: 2rem; color: $textLight; font-size: 1.5rem; line-height: 1.7; }
  &__social-cont { margin-top: 2rem; }
  &__icon { margin-right: 1.5rem; font-size: 2.2rem; transition: color .3s; &:hover { color: $themeClrPrimary; } }
  &__lower { padding: 4rem 0; border-top: 1px solid #444; color: $textLight; font-size: 1.2rem; }
}